<tr>
  <td><%= link_to badge.name, admin_badge_path(badge) %></td>
  <td><%= image_tag((badge.image), class: 'img-circle img-height-50') %></td>
  <td><%= badge.rule %></td>
  <td><%= link_to 'Edit', edit_admin_badge_path(badge) %></td>
  <td><%= link_to 'Delete', admin_badge_path(badge), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
