<div class="form-group">
  <%= form_with model: [:admin, @badge], local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: 'badge_Название', class: 'form-control' %>
  </p>

  <p>
    <%= form.label :image %>
    <%= form.text_field :image, id: 'badge_Изображение', class: 'form-control' %>
  </p>

  <p>
    <%= form.label :rule %>
    <%= form.select(:rule, options_for_select([['Первая попытка', 1],
                                               ['Все категории', 2],
                                               ['Все тесты уровня', 3]],
                    selected: @badge.rule), { promt: true},
                    { class: 'form-control' }) %>
  </p>

  <p>
    <%= form.label :parameter %>
    <%= form.text_field :parameter, id: 'badge_Параметр', class: 'form-control' %>
  </p>

  <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>

