<div class="form-group">
  <%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id:  :user_email, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: 'form-control' %>
  </p>


  <p><%= form.submit 'Регистрация', class: 'btn btn-primary' %></p>
  <% end %>
</div>
