<div class="form-group">
  <%= form_with model: [:admin, @category, @test], local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: 'question_Название теста', class: 'form-control' %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level, id: 'question_Уровень сложности', value: @test.level, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class: 'form-control'}) %>
  </p>

  <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
