<tr>
    <td><%= t('.title', title: test.title) %></td>
    <td><%= t('.level', level: test.level) %></td>
    <td><%= t('.category', category: test.category.name) %></td>
    <td><%= t('.question_size', question_size: test.questions.size) %></td>
    <td><%= button_to t('start'), start_test_path(test), class: 'btn btn-primary' %></td>
</tr>
