<div class="col-12">
  <li>
    <h5><%= t('.title', title: test.title) %></h5>
    <p><%= t('.level', level: test.level) %></p>
    <p><%= t('.category', category: test.category.name) %></p>
    <p><%= t('.question_size', question_size: test.questions.size) %></p>
    <p><%= button_to t('start'), start_test_path(test), class: 'btn btn-primary' %></p>
  </li>
  <br />
</div>
