<div class="col-12">
  <li>
    <h5><%= test.title %></h5>
    <p>Уровень: <%= test.level %></p>
    <p>Категория: <%= test.category.name %></p>
    <p>Кол-во вопросов: <%= test.questions.size %></p>
    <p><%= button_to 'Start', start_test_path(test), class: 'btn btn-primary' %></p>
  </li>
  <br />
</div>
