<div class="container">
  <h2>
    <%= @test.title %>
  </h2>
  <ol>
    <%= render @questions %>
  </ol>
  <%= render 'shared/flash' %>
  <%= link_to 'Создать вопрос', new_test_question_path(@test),
  class: "btn btn-primary"  %>
  <div class="row">
    <div class="col-12">
      <%= render 'shared/back' %>
    </div>
  </div>
</div>

