<div class="container">
  <h2><%= @test.title %></h2>
  <ol>
    <% @test.questions.each do |question| %>
      <div class="col-12">
        <li>
          <%= link_to question.body, question_path(question) %>
          <%= link_to 'x', question_path(question), method: :delete  %>
        </li>
      </div>
    <% end %>
  </ol>
  <% if flash[:notice] %>
    <div class="row">
      <div class="notice col-12">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Создать вопрос', new_test_question_path(@test), class: "btn btn-primary"  %>
</div>
